<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/bootstrap') %>
    <title>Event App</title>
</head>

<body>
    <%- include('partials/navbar') %>



    <h1><%=data.event_name%></h1>


    <h4><%=data.event_date%></h4>


    <p><%=data.description%></p>

</body>

</html>