<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/bootstrap') %>
    <title>Event App</title>
</head>

<body>
    <%- include('partials/navbar') %>



    <h1><%=data.event_name%></h1>


    <h6><%=`${data.event_date.toDateString()} ${data.formatAMPM()}`%></h6>
    <!-- data.event_date -->

    <p><%=data.description%></p>


    <%if(user.role == 'User'){%>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href=<%=`/events/${data.id}/info/add`%>><button type="button" class="btn btn-secondary">Add to Watch List</button></a>
          </div>
    <%}%>



</body>

</html>